In [55]:
import pandas as pd
import numpy as np

In [57]:
training_set_csv = ['train-2.csv', 'train-3.csv', 'train-4.csv', 'train-5.csv', 'train-6.csv', 'train-7.csv', 'train-8.csv']

training_set = pd.read_csv('train-1.csv')
for csv in training_set_csv:
    file = pd.read_csv(csv) 
    training_set = pd.concat([training_set, file], axis=0)


training_set['startYear'] = np.where(training_set['startYear'] == '\\N', training_set['endYear'], training_set['startYear'])
training_set = training_set.drop('endYear', axis=1)
training_set['runtimeMinutes'] = np.where(training_set['runtimeMinutes'] == '\\N', '0', training_set['runtimeMinutes'])
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93,17887.0,True
...,...,...,...,...,...,...,...,...
988,9966,tt9625664,Trauma Center,NaN,2019,87,12951.0,False
989,9981,tt9741310,Slaxx,Slaxx,2020,77,2464.0,False
990,9982,tt9742392,Kindred,Kindred,2020,101,1719.0,False
991,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,111,4144.0,True
992,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103,3242.0,True

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True
...,...,...,...,...,...,...,...,...,...
988,9966,tt9625664,Trauma Center,NaN,2019,\N,87,12951.0,False
989,9981,tt9741310,Slaxx,Slaxx,2020,\N,77,2464.0,False
990,9982,tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False
991,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True
992,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True